body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-dm-sans: "DM Sans";
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-3xl: 22px;
  --font-size-16xl: 35px;
  --font-size-base: 16px;
  --font-size-mini: 15px;
  --font-size-sm: 14px;
  --font-size-21xl: 40px;
  --font-size-xl: 20px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #878787;
  --color-gray-200: #1e1e1e;
  --color-deepskyblue: #38b6ff;
  --color-royalblue-100: #5064c0;
  --color-royalblue-200: #4f64c0;
  --color-royalblue-300: #5063bf;
  --color-royalblue-400: rgba(81, 100, 191, 0.65);
  --color-whitesmoke: #eee;
  --color-darkgray: #b1b1b1;
  --color-silver: #c4c4c4;
  --color-mediumslateblue: #0166ff;
  --color-black: #000;
  --color-midnightblue: #001a4d;

  /* Border radiuses */
  --br-29xl: 48px;
  --br-xl: 20px;
  --br-31xl: 50px;
  --br-3xs: 10px;
}
