.splash-screen-10-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 393px;
  height: 851px;
}
.phone-number3 {
  position: absolute;
  top: 37px;
  left: 127px;
  line-height: 42px;
  display: inline-block;
  width: 167px;
  height: 44px;
}
.please-add-your1 {
  margin: 0;
}
.please-add-your-container1 {
  position: absolute;
  top: 85px;
  left: 97px;
  font-size: var(--font-size-base);
  line-height: 26px;
  font-weight: 500;
  color: var(--color-silver);
  text-align: center;
  display: inline-block;
  width: 199px;
  height: 55px;
}
.group-child37,
.group-child38 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-deepskyblue);
  width: 66px;
  height: 36.1px;
}
.group-child38 {
  top: 7.9px;
  filter: blur(200px);
}
.rectangle-parent17 {
  position: absolute;
  top: 40.9px;
  left: 36.7px;
  width: 66px;
  height: 44px;
  cursor: pointer;
}
.arrow-to-top-icon8 {
  position: absolute;
  top: 46px;
  left: 57px;
  width: 25px;
  height: 25px;
  object-fit: contain;
}
.phone-number4 {
  position: absolute;
  top: 253px;
  left: 35px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-deepskyblue);
  display: inline-block;
  width: 101px;
}
.splash-screen-10-item {
  position: absolute;
  top: 322.5px;
  left: 34.5px;
  border-top: 1px solid var(--color-mediumslateblue);
  box-sizing: border-box;
  width: 324px;
  height: 1px;
}
.group-child39,
.group-child40 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-deepskyblue);
  width: 208.6px;
  height: 61.8px;
}
.group-child40 {
  top: 13.6px;
  filter: blur(200px);
}
.confirm1 {
  position: absolute;
  top: 16.8px;
  left: 55.5px;
  display: inline-block;
  width: 98.5px;
  height: 27.2px;
}
.rectangle-parent18 {
  position: absolute;
  top: 387.8px;
  left: 92.2px;
  width: 208.6px;
  height: 75.5px;
  cursor: pointer;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.splash-screen-10-inner {
  position: absolute;
  top: 289px;
  left: 340px;
  border-radius: var(--br-xl);
  background-color: var(--color-deepskyblue);
  width: 18px;
  height: 19px;
}
.div22,
.splash-screen-10-child1 {
  position: absolute;
  top: 296.3px;
  left: 345.1px;
  width: 7.9px;
  height: 5.5px;
}
.div22 {
  top: 287px;
  left: 35px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  display: inline-block;
  width: 147px;
  height: 18px;
}
.splash-screen-10 {
  width: 100%;
  position: relative;
  border-radius: var(--br-29xl);
  background-color: var(--color-white);
  height: 852px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  font-family: var(--font-dm-sans);
}
