.splash-screen-5-child {
  position: absolute;
  top: 40px;
  left: 9px;
  background-color: var(--color-white);
  width: 375px;
  height: 812px;
}
.group-child1,
.group-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-deepskyblue);
  width: 201px;
  height: 59px;
}
.group-child2 {
  top: 13px;
  background-color: var(--color-royalblue-100);
  filter: blur(200px);
}
.continue2 {
  position: absolute;
  top: 15px;
  left: 55px;
}
.rectangle-container {
  position: absolute;
  top: 695px;
  left: 96px;
  width: 201px;
  height: 72px;
  cursor: pointer;
  text-align: left;
}
.bills-payment-made {
  position: absolute;
  top: 467px;
  left: 47px;
  font-size: var(--font-size-16xl);
  line-height: 39.5px;
  display: inline-block;
  color: var(--color-gray-200);
  width: 299px;
}
.pay-monthly-or {
  margin: 0;
}
.nivrittiseva1 {
  color: var(--color-deepskyblue);
}
.pay-monthly-or-container,
.span {
  color: var(--color-gray-100);
}
.pay-monthly-or-container {
  position: absolute;
  top: 558px;
  left: 93px;
  font-size: var(--font-size-smi);
  font-weight: 500;
}
.slider-icon2 {
  position: absolute;
  top: 631px;
  left: 9px;
  width: 375px;
  height: 44px;
}
.plain-credit-card-pana-1 {
  position: absolute;
  top: 114px;
  left: 25px;
  width: 342px;
  height: 342px;
  overflow: hidden;
}
.splash-screen-5 {
  width: 100%;
  position: relative;
  border-radius: var(--br-29xl);
  background-color: var(--color-white);
  height: 852px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-dm-sans);
}
