.splash-screen-8-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 393px;
  height: 851px;
}
.please-set-up,
.profile {
  position: absolute;
  top: 37px;
  left: 166px;
  font-size: var(--font-size-xl);
  line-height: 42px;
  display: inline-block;
  width: 80px;
  height: 44px;
}
.please-set-up {
  top: 114px;
  left: 104px;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-silver);
  width: 214px;
}
.group-child7,
.group-child8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-deepskyblue);
  width: 66px;
  height: 36.1px;
}
.group-child8 {
  top: 7.9px;
  background-color: var(--color-royalblue-100);
  filter: blur(200px);
}
.rectangle-parent2 {
  position: absolute;
  top: 40.9px;
  left: 36.7px;
  width: 66px;
  height: 44px;
  cursor: pointer;
}
.arrow-to-top-icon {
  position: absolute;
  top: 46px;
  left: 57px;
  width: 25px;
  height: 25px;
  object-fit: contain;
}
.splash-screen-8-item {
  position: absolute;
  top: 188px;
  left: 126px;
  border-radius: 50%;
  background-color: var(--color-deepskyblue);
  width: 140px;
  height: 140px;
}
.first-name,
.upload-icon {
  position: absolute;
  top: 245px;
  left: 183px;
  width: 26px;
  height: 25px;
}
.first-name {
  top: 394px;
  left: 35px;
  font-weight: 500;
  color: var(--color-deepskyblue);
  display: inline-block;
  width: 78px;
  height: 17px;
}
.micheal {
  top: 429px;
  font-size: var(--font-size-sm);
  width: 64px;
}
.last-name,
.micheal,
.starc {
  position: absolute;
  left: 35px;
  font-weight: 500;
  display: inline-block;
}
.starc {
  top: 525px;
  font-size: var(--font-size-sm);
  width: 51px;
  height: 18px;
}
.last-name {
  top: 490px;
  color: var(--color-deepskyblue);
  width: 78px;
  height: 17px;
}
.splash-screen-8-child1,
.splash-screen-8-inner {
  position: absolute;
  top: 463.5px;
  left: 34.5px;
  border-top: 1px solid var(--color-deepskyblue);
  box-sizing: border-box;
  width: 324px;
  height: 1px;
}
.splash-screen-8-child1 {
  top: 560.5px;
}
.splash-screen-8-child2,
.splash-screen-8-child3 {
  position: absolute;
  top: 431px;
  left: 340px;
  border-radius: var(--br-xl);
  background-color: var(--color-deepskyblue);
  width: 18px;
  height: 19px;
}
.splash-screen-8-child3 {
  top: 527px;
}
.splash-screen-8-child4,
.splash-screen-8-child5 {
  position: absolute;
  top: 437.8px;
  left: 345.1px;
  width: 7.9px;
  height: 5.5px;
}
.splash-screen-8-child5 {
  top: 534.2px;
}
.group-child10,
.group-child9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-deepskyblue);
  width: 139.4px;
  height: 61.8px;
}
.group-child10 {
  top: 13.6px;
  background-color: var(--color-royalblue-100);
  filter: blur(200px);
}
.set {
  position: absolute;
  top: 16.8px;
  left: 52.4px;
  font-weight: 500;
  display: inline-block;
  width: 34.6px;
  height: 27.2px;
}
.rectangle-parent3 {
  position: absolute;
  top: 612px;
  left: 126.8px;
  width: 139.4px;
  height: 75.5px;
  cursor: pointer;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.splash-screen-8 {
  width: 100%;
  position: relative;
  border-radius: var(--br-29xl);
  background-color: var(--color-white);
  height: 852px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-gray-200);
  font-family: var(--font-dm-sans);
}
